{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Edge versions"
          ]
        },
        "exclude": ["transform-regenerator"]
      }
    ],
    "react"
  ],
  "plugins": [
    ["transform-runtime", {"polyfill": false}],
    "transform-class-properties",
    ["transform-object-rest-spread", {"useBuiltIns": true}]
  ]
}
