{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "VERSION": false
  },
  "settings": {
    "react": {
      "version": "16.8"
    }
  }
}
